.main-content-container.container-fluid.px-4
	.page-header.no-gutters.py-4
		.col-12.text-center.text-sm-left.mb-0
			%span.text-uppercase.page-subtitle Overview
			%h3.page-title.col-6= t('dashboard.index.dashboard')
	 