/ Site footer
%footer.site-footer
  .container
    .row
      .col-md-8.col-sm-6.col-xs-12
        %p.copyright-text
          Copyright © #{Date.current.year} All Rights Reserved by
          %a{:href => "#"} RootLabs
