%iframe{:height => "400px", :src => "https://embed.hypertrack.com/devices/#{@driver_id}?publishable_key=AIv3q1ySkOBBoG5TxdV7r34vXzWNps3NUyTWMgaQIbt6T0gT8AAu4KhD5dL4eKYYu8zMOb1nuKG-K2xadXR3Bg", :width => "400px"}
