.main.main-content.col-lg-10.p-0.offset-sm-1
  .main-content-container.container-fluid.px-4
    .page-header.row.no-gutters.py-4
      .col-6.col-sm-4.text-center.text-sm-left.mb-0
        %span.text-uppercase.page-subtitle Overview
        %h3.page-title New Bank Accounts
    .row
      .col-main-sub
        = render 'form'
