.main-content-container.container-fluid.px-4
	.page-header.no-gutters.py-4
		.col-12.text-center.text-sm-left.mb-0.pb-3
			%span.text-uppercase.page-subtitle Overview
			%h3.page-title.col-12 Add Category
			= render 'form'