/ Category Section
%section#category.container
  #grocery
    %h4.section-title Everyday Groceries
    %ul.hs.full.no-scrollbar.category
      - @everydays.where(category: 'Grocery').each do |g|
        %li.item 
          .card
            %img.category-img{:src => g.image.to_s.gsub("http", "https")}/
            %p.card-title
              = g.name         
  #health
    %h4.section-title Everyday Medicines  
    %ul.hs.full.no-scrollbar.meds
      - @everydays.where(category: 'Health').each do |g|
        %li.item 
          .card
            %img.meds-img{:src => g.image.to_s.gsub("http", "https")}/
            %p.card-title
              = g.name

          
  #booze
    %h4.section-title Everyday Booze
    %ul.hs.full.no-scrollbar.category
      - @everydays.where(category: 'Booze').each do |g|
        %li.item 
          .card
            %img.category-img{:src => g.image.to_s.gsub("http", "https")}/
            %p.card-title
              = g.name