#promos.blog.section.py-4.container
  %h3.section-title.m-4 Promos
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-6
            .card.mb-6
              .welcome-heading
                %p.welcome-sub Share us on Facebook
                %p.welcome-sub2 Get a free delivery when you share
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .col-md-12.col-lg-6
            .card.mb-6
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
/ Everyday Grocery          
#grocery.blog.section.py-4.container
  %h3.section-title.m-4 Every Grocery
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake

/ Everyday Health            
#health.blog.section.py-4.container
  %h3.section-title.m-4 Every Heatlh
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake

/ Everyday Booze              
#booze.blog.section.py-4.container
  %h3.section-title.m-4 Every Booze
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body
            %h5.card-title Cake
