#promos.blog.section.py-4.container
  %h3.section-title.m-4 Promos
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-6
            .card.mb-6
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
          .col-md-12.col-lg-6
            .card.mb-6
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
  / / Inner Wrapper
/ / Welcome Section
/ Our Services Section
#grocery.blog.section.py-4.container
  %h3.section-title.m-4 Every Grocery
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a v
    / / Inner Wrapper
/ / Welcome Section
/ Our Services Section                
#health.blog.section.py-4.container
  %h3.section-title.m-4 Every Health
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a v
/ / Inner Wrapper
/ / Welcome Section
/ Our Services Section                
#booze.blog.section.py-4.container
  %h3.section-title.m-4 Every Booze
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-2
            .card.mb-2
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a v
