#promos.blog.section.py-4.container
  %h4.section-title.m-3 Promos
  .container
    .py-4
      .row
        .card-deck
          - if @promos.empty?
            .col-md-12.col-lg-6
              .card.mb-6
                .welcome-heading-sub
                  %p.welcome-sub Share us on Facebook
                  %p.welcome-sub2 Get a free delivery when you share
                %img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
            .col-md-12.col-lg-6
              .card.mb-6
                .welcome-heading-sub
                  %p.welcome-sub Share us on Facebook
                  %p.welcome-sub2 Get a free delivery when you share
                %img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
              
          - else
            - @promos.each do |promo|
              .col-md-12.col-lg-6
                .card.mb-6
                  .welcome-heading-sub
                    %p.welcome-sub Share us on Facebook
                    %p.welcome-sub2 Get a free delivery when you share
                  %img.card-img-top{:alt => "promo image cap", :src => "example.png"}/

  / / Inner Wrapper
/ / Welcome Section
/ Our Services Section
#grocery.blog.section.py-4.container
  %h4.section-title.m-3 Everyday Grocery
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample

/ Everyday Health            
#health.blog.section.py-4.container
  %h4.section-title.m-3 Everyday Heatlh
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample

/ Everyday Booze              
#booze.blog.section.py-4.container
  %h4.section-title.m-3 Everyday Booze
  .container
    %ul.hs.full.no-scrollbar
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
      %li.item 
        .card.mb-2
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
          .card-body#cart-details 
            %p.card-title Sample
