/ Site footer
%footer.site-footer
	.container
	.row
		.col-sm-12.col-md-6
		%h6 About
		%p.text-justify
			JuanRide
			%i JuanRide 
		.col-xs-6.col-md-3
		%h6 Quick Links
		%ul.footer-links
			%li
				%a{:href => "#"} Privacy
			%li
				%a{:href => "#"} Terms and Condition
			%li
				%a{:href => "#"} Contact
			%li
				%a{:href => "#"} FAQ
	%hr/
	.row
		.col-md-8.col-sm-6.col-xs-12
		%p.copyright-text
			Copyright © 2019 All Rights Reserved by
			%a{:href => "#"} JuanRide
		.col-md-4.col-sm-6.col-xs-12
		%ul.social-icons
			%li
			%a.facebook{:href => "#"}
				%i.fa.fa-facebook
			%li
			%a.instagram{:href => "#"}
				%i.fa.fa-instagram
