/ Welcome Section
.welcome.d-flex.justify-content-center.flex-column
  .container
    / Navigation
    %nav.navbar.navbar-expand-lg.navbar-dark.pt-4.px-0
      %a.navbar-brand{:href => "#"}
        JuanRide
    / / Navigation
  / .container
  / Inner Wrapper
  .inner-wrapper.mt-auto.mb-auto.container
    .row
      .col-md-7
        %h1.welcome-heading.display-4.text-white Two Line tag lines here