/ Welcome Section
%section.welcome.d-flex.justify-content-center.flex-column
  .inner-wrapper.mt-auto.mb-auto.container
    .row
      .col-md-7
        %h1.welcome-heading
          = @settings.find_by(key: 'store_header').text_value
