/ Welcome Section
%section.welcome
  .inner-wrapper.mt-auto.mb-auto
    .welcome-heading
      %input#messenger.hidden{:value=> "#{@messenger_id}"}
      %input.form-control#search_variant
      %ul#myUL
      %img{:src=> "/key.png"}


:css
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -2px;
    background-color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
  }
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
:javascript
  $('#search_variant').keyup(function(){
  	var messenger = $('#messenger').val();
  	var variant = $('#search_variant').val();
  	if (variant != ""){
  	  $.ajax({
  	    url: "/store/search_variant",
  	    type: 'POST',
  	    data: {
  	      variant: variant,
  	      messenger: messenger
  	    },
  	    async: true,
  	    dataType: "json",
  	    error: function(XMLHttpRequest, errorTextStatus, error){
  	      alert("Failed: "+ errorTextStatus+" ;"+error);
  	    },
  	    success: function(data){
  	    $('#myUL').html("");
  	    var i = data;
  	      for(var i=0, l = data.length; i < l; i++){
  	        $('#myUL').append('<li><a href='+'/store/'+data[i].merchant_id+'/cart/?product='+data[i].product_id+'&messenger_id='+data[i].messenger_id+'>'+data[i].product_name+'</li>');
  	      }
  	    }
  	  });
  	}else{
  	  $('#myUL').html("");
  	}
  });
