#promos.blog.section.py-4.container
  %h4.section-title.m-3 Popular Items
  .menu
    .card-deck.row
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/

  %h4.section-title.m-3 Chicken Menu
  .menu
    .card-deck.row
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
      .col-md-12.col-lg-6 
        .card.menu-box 
          .menu-left
            %p Cribs Wings
            %h6 Descrion food here
            %h5.text-primary P 300.00
          %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
