/ Menu Header
.d-flex.justify-content-center.flex-column
	.inner-wrapper.mt-auto.mb-auto.menu-container
		.menu-list
			%img{:src => "/menu-header.png"}/
		.menu-list	
			%h3.text-center SaveMore
		.menu-list
			%nav.navbar.bg-primary
				.container
					%h6.text-white Category
					%button.btn.fa.fa-user 2 Items
	
