#merchants.blog.section.py-4.bg-merchants
  .container
    %h3.section-title.m-4 Merchants
    .container
      .row
        .card-deck
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title SaveMore
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title Robinsons
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title KMArt
      .row
        .card-deck
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title SaveMore
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title Robinsons
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "/example.png"}/
              .card-body#cart-details 
                %p.card-title KMArt