#merchants.blog.section.py-4.container
  %h3.section-title.m-4 Merchants
  .container
    .py-4
      .row
        .card-deck
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
      .row
        .card-deck
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Pizza
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Cake
                /%p.card-text He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
          .col-md-12.col-lg-4
            .card.mb-4
              %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
              .card-body
                %h5.card-title Drinks
                /%p.card-text He seems sinking under the ev