/ Merchants Section
%section#merchants.container
  %h4.section-title Partner Merchants
  .row
    - if @merchant.empty?
      .col-md-6
        .card-con-mer
          %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
          %h3 Kmart
          %h4 Get Chorizo Recado and muc more!
          %h5 Dig into Kmart's Specialty products. A long time Bacolod suki is now available for delivery. With Juan tap away!
          %h6 P250/kg
      .col-md-6
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
          %p.card-title SaveMore
    
    - else
      - @merchant.each do |merchant|
        .col-md-12.col-lg-4
          .card-con-mer#wrapper
            = link_to image_tag("#{merchant.logo.to_s.gsub("http", "https")}"), "/store/menu/#{merchant.id}?messenger_id=#{params['messenger_id']}"
            %h3 Kmart
            %h4 Get Chorizo Recado and muc more!
            %h5 Dig into Kmart's Specialty products. A long time Bacolod suki is now available for delivery. With Juan tap away!
            %h6 P250/kg