/ Merchants Section
%section#merchants.container
  %h4.section-title Merchants
  .row
    - if @merchant.empty?
      .col-md-6
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
          %p.card-title SaveMore
      .col-md-6
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "example.png"}/
          %p.card-title SaveMore
    
    - else
      - @merchant.each do |merchant|
        .col-md-12.col-lg-4
          .card#wrapper
            = link_to image_tag( '/example.png'), "/store/menu/#{merchant.id}?messenger_id=#{params['messenger_id']}"
            %p.card-title
              = merchant.name