%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-primary
	.container
		%a.navbar-brand{:href => "/store?messenger_id=#{params['messenger_id']}"}
			JuanRide
		= link_to "/store/view_cart/?messenger_id=#{params['messenger_id']}" do
			%button.btn.bg-primary.cart-quantity Track Order
				
:javascript
	$('#view_cart').click(function () {
		window.location = "/store/view_cart/?messenger_id=#{params['messenger_id']}"
	});
