.page-content
  #forms.container
    .section-title.col-lg-12.col-md-12.ml-auto.mr-auto
    .row.px-3
      .box.col-lg-6.col-md-6
        %img.img-fluid{:alt => "Card image cap", :src => "/food.png"}/
      
      .example.col-lg-6.col-md-6.bg-white
        .card
          .card-body
            .card-title
              %h4 
                = @product.name
              %h6.box-title.border-bottom Variants
            .box-details     
              - @variants.each do |variant|
                .custom-control.custom-radio.d-block.my-2
                  %input.custom-control-input{:name => "size", :type => "radio", :id=> "regular"}/
                  %label.custom-control-label{:for => "regular"}
                    = variant.name
                  %span#cart-price
                    = variant.price
            
            %p.box-title.border-bottom Special Instructions?    
            .box
              %input#box-text{:name => "special", :type => "text", :placeholder=> "Add instructions..."}/
            
            .box-details  
              .box-number
                .box-num
                  %span.minus -
                  %input{:type => "text", :value => "1", :class=> "box-counter"}/
                  %span.plus +
              %buttonbtn.btn-primary.box-btn Add to Cart

#add-to-cart   
  %button.btn.btn-block.btn-primary 
    View

:javascript 
  $(document).ready(function() {
    $('.minus').click(function () {
      var $input = $(this).parent().find('input');
      var count = parseInt($input.val()) - 1;
      count = count < 1 ? 1 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $('.plus').click(function () {
      var $input = $(this).parent().find('input');
      $input.val(parseInt($input.val()) + 1);
      $input.change();
      return false;
    });
  });