%section#promos.container
	%h4.section-title Promos
	%ul.hs.full.no-scrollbar
		- if @promos.empty?
			%li.item 
				.card
					.welcome-heading-sub
						%p.welcome-sub Share us on Facebook
						%p.welcome-sub2 Get a free delivery when you share
					%img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
			%li.item
				.card
					.welcome-heading-sub
						%p.welcome-sub Share us on Facebook
						%p.welcome-sub2 Get a free delivery when you share
					%img.card-img-top{:alt => "Card image cap", :src => "/burger.png"}/
				
		- else
			- @promos.each do |promo|
				%li.item 
					.card
						.welcome-heading-sub
							%p.welcome-sub Share us on Facebook
							%p.welcome-sub2 Get a free delivery when you share
						%img.card-img-top{:src =>promo.image}


-# %section#category.container
-# 	#grocery
-# 		%h4.section-title Everyday Grocery
-# 		%ul.hs.full.no-scrollbar
-# 			- @everydays.where(category: 'Grocery').each do |g|
-# 				%li.item 
-# 					.card
-# 						%img.card-img-top{:src => g.image}/
-# 						%p.card-title
-# 							= g.name  