/ Category Section  
%section#serve.container
	%h4.section-title How else can we serve you?
	.card-swipe.no-scrollbar
		.card-item
			.card-con-serve
				%img{:src=> "/bs1.png"}
				.card-con-body
					%h5 for business
		.card-item
			.card-con-serve 
				%img{:src=> "/bs2.png"}
				.card-con-body
					%h5 groceries
		.card-item
			.card-con-serve
				%img{:src=> "/bs1.png"}
				.card-con-body
					%h5 food