!!!
%html.no-js{:lang => "en"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "utf-8"}/
		%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
		%title JuanRide
		%meta{:content => "A demo landing page for agencies or product oriented businesses built using Shards, a free, modern and lightweight UI toolkit based on Bootstrap 4.", :name => "description"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		/ CSS Dependencies
		%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
		%link{:href => "/juan/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
		%link{:href => "/juan/shards.min.css", :media => "screen", :rel => "stylesheet"}/
		%link{:href => "/juan/shards-extras.min.css", :media => "screen", :rel => "stylesheet"}/
		%link{:href => "/juan/custom.css", :media => "screen", :rel => "stylesheet"}/
		%link{:href => "/juan/font.css", :media => "screen", :rel => "stylesheet"}/
		%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
		%link{:href => "https://use.fontawesome.com/releases/v5.0.6/css/all.css", :rel => "stylesheet"}/
		%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
		%link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", :integrity => "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", :rel => "stylesheet"}/
		%link#main-stylesheet{"data-version" => "1.1.0", :href => "/juan/shards-dashboards.1.1.0.min.css", :rel => "stylesheet"}/
		%link{:href => "/juan/extras.1.1.0.min.css", :rel => "stylesheet"}/
		%script{:async => "", :defer => "defer", :src => "https://buttons.github.io/buttons.js"}
	



	%script{:crossorigin => "anonymous", :integrity => "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", :src => "https://code.jquery.com/jquery-3.2.1.min.js"}
	%script{:crossorigin => "anonymous", :integrity => "sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"}
	%script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

	%body.shards-landing-page--1
	 