
%header#header.site-header.success-message
	%img#logo.rounded.mx-auto.d-block{:src => "/logo.png"}/
	%h3 Thank you for placing your order. 
	%p Your payment has successfully been processed. We'll let you know once your item(s) have dispatched.
