%main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
	.main-navbar.sticky-top.bg-white
		/ Main Navbar
		%nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
			%form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex{:action => "#"}
				.input-group.input-group-seamless.ml-3
					.input-group-prepend
						.input-group-text
			
				%li.nav-item.dropdown
					%a.nav-link.dropdown-toggle.text-nowrap.px-3{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
						%span.d-none.d-md-inline-block.mt-3 
					.dropdown-menu.dropdown-menu-small
						
						%a.dropdown-item.text-danger{:href => "#"}
							%i.material-icons.text-danger 
							Logout
			%nav.nav
				%a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left{"aria-controls" => "header-navbar", "aria-expanded" => "false", "data-target" => ".header-navbar", "data-toggle" => "collapse", :href => "#"}
					%i.material-icons 